{% extends 'base.html' %}
{% block page_title %}Password Changed{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body text-center">
          <h4 class="mb-4 text-success">Your password has been changed successfully!</h4>
          <a href="/dashboard/" class="btn btn-primary">Go to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
